.titulo {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
   text-align: center;
}
.card-img-top{
height: 300px;
}
.inicio{
  color:blue;
}
.nav-link{
  color: blue
}

